@import "tailwindcss";

@theme {
  --color-background: #121212;
  --color-foreground: #FAFAFA;
  --color-accent: #B8A99A;
  --font-sans: "Inter", sans-serif;
  --font-serif: "Playfair Display", serif;
}

@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-foreground, currentColor);
  }
  
  html {
    scroll-behavior: smooth;
  }

  body {
    background-color: var(--color-background);
    color: var(--color-foreground);
    @apply font-sans antialiased selection:bg-accent selection:text-background;
  }
}
